GET.WebForms/Connected Services/ServiceClienteWcf/ServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55922/ServiceCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55922/ServiceCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55922/ServiceCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GTI.API.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCliente_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Obter_InputMessage">
    <wsdl:part name="parameters" element="tns:Obter" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Obter_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCliente">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/Listar" message="tns:IServiceCliente_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/ListarResponse" message="tns:IServiceCliente_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obter">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/Obter" message="tns:IServiceCliente_Obter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/ObterResponse" message="tns:IServiceCliente_Obter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/Incluir" message="tns:IServiceCliente_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/IncluirResponse" message="tns:IServiceCliente_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/Alterar" message="tns:IServiceCliente_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/AlterarResponse" message="tns:IServiceCliente_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/Excluir" message="tns:IServiceCliente_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/ExcluirResponse" message="tns:IServiceCliente_Excluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCliente" type="tns:IServiceCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obter">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/Obter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCliente">
    <wsdl:port name="BasicHttpBinding_IServiceCliente" binding="tns:BasicHttpBinding_IServiceCliente">
      <soap:address location="http://localhost:55922/ServiceCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>